<h1 class="heading">View Trip</h1>
<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2"><%= trip.tripName %></h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Share
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary">
        Export
      </button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= trip.tripName %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Last Updated <%= new Date(trip.updatedAt).toUTCString() %> </b>
      <b>TripId:</b> <%= trip._id %>
    </div>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Trip Id:</b></div>
      <div class="col"><%= trip.tripId%></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Trip Name:</b></div>
      <div class="col"><%= trip.tripName%></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Service Id : </b></div>
      <div class="col"><%= trip.serviceId %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Trip Head : </b></div>
      <div class="col"><%= trip.tripHead %></div>
    </div>
  </li>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Vehicle Id : </b></div>
      <div class="col"><%= trip.vehicleId %></div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Arrival Time : </b></div>
      <div class="col"><%= trip.arrivalTime %></div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Departure Time : </b></div>
      <div class="col"><%= trip.departureTime %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Date Created:</b></div>
      <div class="col"><%= trip.createdAt %></div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"><b>Date Modified:</b></div>
      <div class="col"><%= trip.updatedAt %></div>
    </div>
  </li>
</ul>

<div class="row">
  <div class="col end-btn">
    <a href="/viewroute/<%= trip.routeId %>" class="btn btn-primary">
      View Route belonging to this Trip
    </a>
  </div>
</div>